* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
}

.myNavBar {
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.myNavBar div:first-child {
  padding-left: 0;
}

.myNavBar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myNavBar__left .navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-right: 0;
}

.myNavBar__left .navbar-brand img {
  width: 110px;
}

.myNavBar__categories {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}

.myNavBar__categories i {
  color: #a1a7b3;
}

.myNavBar__form-search {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.myNavBar__form-search .input-group {
  background-color: #f2f3f5;
}

.myNavBar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}

.myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.myNavBar__form-search .form-control {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
  color: #505763;
}

.myNavBar__form-search .form-control::-webkit-input-placeholder {
  color: #505763;
}

.myNavBar__form-search .form-control:-ms-input-placeholder {
  color: #505763;
}

.myNavBar__form-search .form-control::-ms-input-placeholder {
  color: #505763;
}

.myNavBar__form-search .form-control::placeholder {
  color: #505763;
}

.myNavBar__form-search .form-control:focus {
  background-color: #fff;
  border-color: #dedfe0;
  border-right-color: transparent;
}

.myNavBar__form-search .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-color: #dedfe0;
  border-left-color: transparent;
}

.myNavBar__form-search .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.myNavBar__right .navbar-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myNavBar__right .navbar-nav .nav-item {
  padding: 7px 5px;
  border-radius: 3px;
  position: relative;
}

.myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.myNavBar__right .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.myNavBar__right .navbar-nav .nav-item:hover .overlay {
  display: block;
}

.myNavBar__right .navbar-nav .nav-item .overlay {
  display: none;
  width: 330px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  -webkit-box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
          box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  position: absolute;
  top: 60px;
  right: 0;
}

.myNavBar__right .navbar-nav .nav-item .overlay::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-color: #fff;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  border-left: 1px solid rgba(20, 23, 28, 0.05);
  position: absolute;
  top: -9px;
  right: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.myNavBar__right .navbar-nav .myNavBar__cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
}

.myNavBar__right .navbar-nav .myNavBar__cart .nav-link {
  font-size: 20px;
}

.myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--white:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.button--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--red:hover {
  color: #fff;
  background-color: #521822;
  border: 1px solid #521822;
}
/*# sourceMappingURL=main.css.map */