.darkMode {
  .myNavBar {
    background-color: $color-dark-4;
  }

  .myNavBar__left {
    .logo-black {
      display: none;
    }
    .logo-white {
      // block sẽ dư 1 khoảng margin ra vì chiếm trọn div cha
      display: inline-block;
    }
  }

  .myNavBar__categories {
    color: $color-dark-3;

    i {
      color: $color-dark-5;
    }
  }

  .myNavBar__form-search {
    @include styleFormSearch($color-dark-0, $color-dark-6, $color-dark-2);
    // Form tạo bằng mixin sẽ có selector con riêng
    // Muốn đè phải gọi đúng selector trong mixin ra hoặc copy lại selector
    // Nếu chỉnh mixin phải dò lại toàn bộ code scss có gọi mixin đó
    // Nếu ko thì hạn chế gọi lại mixin
    // -> nhưng phải biết selector đã dùng trong mixin nếu có nhiều cấp để đè
    .input-group .form-control {
      color: $color-dark-5;

      &::placeholder {
        color: $color-dark-5;
      }
    }
  }
}

.darkMode .myNavBar__right {
  .nav-item {
    // Việc chuyển từ ko border sang có border khi hover sẽ bị lệch nhẹ item
    // Solve bằng biệc set 1 border cùng kích thước nhưng transparent trước
    // Border khi xuất hiện sẽ ko ảnh hưởng kích thước
    border: 1px solid transparent;

    .nav-link {
      color: $color-dark-5;
    }

    &:hover {
      background-color: $color-dark-0;
      // Chú ý file gốc ko gọi border-color mà gọi bằng border
      // Darkmode cũng phải gọi lại giống vậy đề đè
      border: 1px solid $color-dark-2;
    }
  }

  .overlay {
    background-color: $color-dark-4;
    border: 1px solid $color-dark-2;

    &::before {
      background-color: $color-dark-4;
      border-top: 1px solid $color-dark-2;
      border-left: 1px solid $color-dark-2;
    }
  }
  // 2 button trong dark mode như cũ
  // Tuy nhiên div bọc 2 button có vùng border bao quanh và bgc
  // -> ảnh hưởng từ nav-item:hover set ở trên nav_right
  .myNavBar__buttons {
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
