.courses {
  margin: $mg-1 0;
  .courses__content {
    width: 90%;
    margin: auto;
    // set lại cấu trúc html kết hợp class vào trong col-
    // fix việc sinh padding lung tung,
    // gom class nên set css sẽ đơn giản hơn
    .courses__left {
      // Nếu ko gom class vào col
      //  phải set w-h 100% để div con bọc hết cha lấy background-color
      background-color: $color-gray-1;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      h2 {
        @include styleText($color-black-0, $fs-3 + 1, $fw-0);
      }
    }
  }
}

#myTab {
  margin-bottom: $mg-1;

  .nav-link {
    @include styleText($color-black-0, $fs-0, $fw-0);

    // ko nên set border none vì sẽ bị giựt với BS
    &:hover {
      border: 5px solid transparent;
      @include styleText($color-black-0, $fs-0, $fw-0);
    }

    // active phải để ở dưới
    // -> ko bị hover đè lên mất luôn border botoom đang set
    &.active {
      border: none;
      border-bottom: 5px solid $color-blue-0;
    }
  }
}
