footer {
  @include styleText($color-gray-0, $fs-1, $fw-0);
}

.footer__top {
  width: 90%;
  margin: $mg-4 auto;

  ul {
    height: 110px;
  }

  .btn-group {
    //   class của BS đang là inline-flex nên ko dùng với text-right được
    display: block;
  }
}

.footer__top ul .nav-item {
  // Chú ý vì tính chất của flex sẽ điều vào tối đa nên cần giới hạn lại
  // Nếu ko dùng flex column của BS thì có thể khai báo flex-direction column
  flex-basis: 25%;

  .nav-link {
    color: $color-blue-0;
    //   Reset lại padding
    padding: 0;

    &.bold {
      font-weight: $fw-2;
    }
  }
}

// Chỉ nên css thêm cho btn trong phần footer
// Mixin chỉ tạo đúng template,
// Để TH có sử dụng lại kiểu dropdown ở nơi khác
.footer__top .btn-group .button--dropup {
  // tránh TH chữ nhiều nên chỉ để min-width, tự cân chỉnh
  // Tuy nhiên vẫn ko solve được vấn đề thẻ after với ngôn ngữ dài như Indo
  // TODO  width tùy chỉnh nhưng tính thêm phần after cộng vô ~ 140%
  min-width: 160px;
  box-shadow: none;
  i {
    padding: 0 $pd-2;
  }

  &::after {
    margin-left: 30%;
  }
}

.footer__top .btn-group .dropdown-menu {
  font-size: $fs-1;
}

.footer__bottom {
  width: 90%;
  margin: $mg-3 - 2 auto;
  img {
    width: 110px;
    margin-right: $mg-0 + 5;
  }
  .nav-link {
    @include styleText($color-blue-0, $fs-1, $fw-0);
  }

  // Ẩn hiện logo darkmode như header
  .logo-black {
    display: inline-block;
  }

  .logo-white {
    display: none;
  }
}
