//  Chỉ lồng tối đa 6 cấp

.myNavBar {
  // check qua dev tool
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

// .exBar {
//   &__left {
//     color: blue;
//     .child {
//       background-color: white;
//     }
//     &--modifier{
//       // exBar__left--modifier
//       font-size: 1rem;
//     }
//   }
// }

// NOTE header left
.myNavBar__left {
  display: flex;
  // Khi này form search bị chuyển thành inline
  // -> sẽ ko chiến trọn phần còn lại nữa
  align-items: center;
}

.myNavBar__left .navbar-brand {
  flex-grow: 1;
  text-align: center;
  margin-right: 0;

  img {
    width: 110px;
  }
}

.myNavBar__categories {
  flex-grow: 1;
  text-align: center;
  @include styleText($color-black-light, $fw-1, $fw-0);
  // Thẻ categories dùng div
  // -> hover vào ko có dấu bàn tay như a link
  // TODO fix lại
  cursor: pointer;

  i {
    color: $color-gray-3;
  }
}

.myNavBar__form-search {
  flex-grow: 8;
}

.myNavBar__form-search .input-group {
  background-color: $color-white-cream;
  // Set màu của cha và cho các con bên trong là transparent

  .input-group-append {
    .input-group-text {
      background-color: transparent;
      border-color: transparent;
      color: $color-red-0;

      &:hover {
        // parent selector chỉ hoạt động nếu sử dụng trong cấp con direct
        color: $color-white-0;
        background-color: $color-red-0;
      }
    }
  }
}

.myNavBar__form-search .form-control {
  background-color: transparent;
  // Thay vì border d-none thì có thể set transparent cũng ok
  border-color: transparent;
  // Đè thẳng ko cần thông qua focus
  box-shadow: none;
  // TODO Change parent div based on child div focus
  // https://stackoverflow.com/questions/24287192/css-change-parent-on-focus-of-child
  // ko hay lắm vì dính thêm button
  // Hoặc phải xử lý với javascript
  transition: none;

  color: $color-black-light;

  &::placeholder {
    color: $color-black-light;
  }

  &:focus {
    background-color: $color-white-0;
    // Cách 1 - 3 side viết tường minh ra
    // border-top-color: $color-gray-4;
    // border-bottom-color: $color-gray-4;
    // border-left-color: $color-gray-4;
    // Cách 2 override cạnh còn lại
    border-color: $color-gray-4;
    border-right-color: transparent;

    // & + .input-group-append
    // Dùng parent selector tiếp vẫn được nhưng quá nhiều cấp lồng nhau
  }

  &:focus + .input-group-append {
    // Viết ngay ko đè được ở dưới
    // Phải gọi thêm class con để đè
    .input-group-text {
      background-color: $color-white-0;
      border-color: $color-gray-4;
      border-left-color: transparent;

      // Phải copy lại để đè
      &:hover {
        color: $color-white-0;
        background-color: $color-red-0;
      }
    }
  }
}

// NOTE Header right
// Chú ý khi làm việc với BS pha3icheck devtool
// Coi selector tn để chọn các đè phù hợp, ngắn đủ
.myNavBar__right {
  .navbar-nav {
    justify-content: space-between;
    align-items: center;

    .nav-item {
      padding: $pd-2 + 2 $pd-2;
      border-radius: $border-radius + 1;
      position: relative;
      
      .nav-link {
        @include styleText($color-black-light, $fw-1, $fw-0);
      }

      &:hover {
        background-color: $color-gray-1;
      }

      .overlay {
        display: block;
        width: 330px;

        text-align: center;
        padding: $pd-3;

        background-color: $color-white-0;
        border-top: 1px solid $color-gray-1;
        box-shadow: 0 4px 16px $color-gray-5;

        position: absolute;
        top: 60px;
        right: 0;

        &::before {
          content: "";
          width: 15px;
          height: 15px;
          display: block;

          background-color: $color-white-0;
          border-top: 1px solid $color-gray-1;
          border-left: 1px solid $color-gray-1;

          position: absolute;
          top: -9px;
          right: 10%;
          transform: rotate(45deg);
        }
      }
    }

    .myNavBar__cart {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      // Thông thường set line height thẳng cho icon thì sẽ ~ w/h
      // Tuy nhiên ở đây phải set ở cha vì lấy thuộc tính border radius
      // Nếu ko set line height ở đây thì vô thẻ i trong ko dùng lại 50px dc nữa
      line-height: 20px;
      
      .nav-link {
        // có khoảng cách giữa các toán tử,
        // -> check màu / autoformat
        font-size: $fs-3 + 2;

        // i {
        //   text-align: center;
        //   width: 50px;
        //   height: 50px;
        //   border-radius: 50%;
        //   border: 1px solid black;
        //   line-height: 50px;
        // }
      }
    }

    .myNavBar__buttons {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
