.viewing {
  padding: $pd-3 + 2 0;
  .viewing__content {
    width: 90%;
    margin: auto;
    h2 {
      font-size: $fs-3 + 2;
    }
  }
}

@include responsive("screen-1") {
  // selector ở ngoài nên giữ dài vậy để đè đủ selector trong card
  // ko nên rút gọn lại dạng gây phức tạp css priority ko cần thiết
  // .viewing__content .card {

  .viewing__content .card .card-body {
    .card-title {
      @include styleText($color-black-0, $fs-1, $fw-1);
      margin-bottom: $mg-0 + 5;
    }
  }
}

